.item {
  width: 20em;
  height: 20em;
  -webkit-box-shadow: -5px 4px 26px 17px rgba(134, 141, 142, 0.26);
  box-shadow: -5px 4px 26px 17px rgba(134, 141, 142, 0.26);
  margin: 20px;
  position: relative;

  .itemImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    border-bottom-right-radius: 3px;
    .deleteButton {
      color: rgb(12, 13, 13);
      background-color: rgba(241, 138, 119, 0.954);
      cursor: pointer;

      &:hover {
        background-color: rgb(235, 19, 19);
      }
    }
    .editButton {
      color: rgb(13, 13, 13);
      background-color: rgb(226, 224, 96);
      cursor: pointer;

      &:hover {
        background-color: rgb(247, 247, 10);
      }
    }
  }
}

.icon {
  font-size: 50px;
  color: rgb(11, 165, 8);
  cursor: pointer;
  margin-right: 10px;
  &:hover {
    color: red;
  }
}

.imageContainer {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  .img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}
